body,article, section {
	display: block;
}

#main{
	width: 700px;
	margin: 0 auto;
	
}


sidebar{
	width: 30%;
	height: auto;
	float: left;
	background: url('../img/backgrd.jpg') center center no-repeat;
	color: #fff;
}

article{
	width: 70%;
	float: left;
	box-shadow: 3px 3px 1px gray;
	margin-bottom: 2px;
}

article img
{
	width: 200px;
	height: 200px;
}

article h2, p{
	text-align: center;
}

article p{
	padding-left: 45px;
	padding-right: 45px;
}

img{
	border-radius: 100%;
}

article img{
	display: block;
    margin-left: auto;
    margin-right: auto 
}

sidebar img{
 display: block;
 width: 25px;
 height: 25px;
 margin-left: 50px 
}

sidebar ul li{
	list-style: none;
}

sidebar h2, p{
	text-align: center;
}

sidebar p{
padding-right: 2px;
}
.btn{
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 165px;
    margin-bottom: 20px;

}

h3{
	font-size: 16px;

}

