body,section, article, form{
	display: block;
}

#main{
  width: 80%;
  height: 570px;
  margin: auto;
  margin-top: 40px;
  border: 2px solid #000;
  background: url('../img/form.jpg')center center no-repeat;
  background-size: 100%;

}

h1, h2, h3, p{
	color: #fff;
}

label{
	color: #fff;
}

#container{
	background: #95a5a6;
}

#formside{
    width: 60%;
    float: left;
    padding-left: 20px;
}

#textside{
    width: 30%;
    float: left;
}

input{
	width: 450px;
	height: 30px;
	border: 1px solid #000;
	margin-left: 2px;
}

textarea{
	width: 450px;
}

.submit{
	width: 200px;
	height: 50px;
	background: green;
	color: #fff;

}

