/* HEADER */
/* HEAD SECTION */

body, div, section, article, sidebar, aside, header, nav, footer{

	display: block;
}

header {
background-color: #27ae60;
}

header img{
	border-radius: 100%;
	width: 50px;
    margin-left: 1em;
    padding-top: 40px;
    
}

#header-div{
	display: block;
	margin-bottom: 5px;
}

#searchinput{
    float: right;
    margin-top: -45px;
    margin-right: -2px;
	border-radius: 40px;
	border: 1px solid redS;
	padding: 5px;
	clear: both;


}

form{

}


header ul{

}

header ul li{

	display: inline;
	padding: 1em;

}

header ul li a{

margin-right: 40px;
text-decoration: none;
color: #ffffff;

}



nav{
	background-color: #34495e;
	padding: 20px;

}

header ul li a:hover{
	color: red;
	font-size: 18px;
}

header ul li a:visited{
	color: green;
}

#main-section{
	display: flex;
	margin-top: 5px;
}

sidebar{
	border: 2px solid #000000;
	background: #27ae60;
	width: 20%;

}

sidebar h2, li{
	padding: 1px;

}

.dash{
	padding-left: 1.5em;
}

.span:before{

	content: '(..';
}

.span:after{

	content: '..)';
}

#menu {
	list-style: none;
	line-height: 1.5;
	border: ;
	
}

#menu a{
	color: #fff;
	text-decoration: none;
}

article{
	border: 1px solid  #000;
	overflow: hidden;
	width: 80%;
    margin-left: 5px;
    background-color: #6b6b6b;
    /*background-image: url('../img/Support-Cover.jpg');*/

}

.articleheading{
	font-size: 30px;
	text-align: center;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
}

.image{
	background: url('../img/naijaSports.jpg') center center no-repeat;
	background-size: cover;
	height: 200px;
	margin: 1em;
}

#people{

}

/* Another way of doing this is to go to the containing DIV
Wwhich is id people annd use display: flex;
*/
.people,.economy{
	width: 33%;
	float: left;
	
}

.people1,.people2, .people3{
	background-color: #34495e;
	margin-left: 3px;

}

.economy1,.economy2, .economy3{
	background-color: #27ae60;
	margin-left: 3px;

}

.people1:hover,.people2:hover, .people3:hover{
	box-shadow: 3px 3px 1px #cfcfcf,
	            -3px -3px 1px red;
	border-radius: 6px;

}

.people p, h2{
	padding: 1em;
	color: #fff;
}

.economy p, h2{
	padding: 1em;
	color: #fff;
}


.people h2, .economy h2{
	text-decoration: underline;
	font-size: 18px;
}

.more{
	color: #c0392b;
	text-decoration: underline;
}

.more:hover{
	cursor: pointer;
}
/*
.
.people p{
	border-right: 1px dashed #000;
}

Please read up on this...
.people p:last-of-type{

}

.people p:first-of-type{
	
}
*/